.container{
  margin: 0 auto;
  width: 70%;
  box-shadow: 0px 9px 13px 5px;
}

#header{
  background: rgba(154, 154, 154, 0.12);
  height: 90px;
}

.login{
  padding-left: 10px;
}

.login, .status{   
  float: left; 
}

.login button{
  margin: 0 15px;
  background: #8b88bb;
  color: black;
  border: none;
  font-family: Arial Narrow;
  cursor: pointer;
}

.login button:hover{
  color: white;
}

.login input{
  background: #c6c4de;
  border-radius: 5px;
}

#menu{
  text-align: right;
  padding: 5px 50px 5px 0; 
  background: #8b88bb;
}

#menu .home{
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial Narrow;
  color: black;
}

#menu a:hover{
  color: white;
}

/****Menu rozwijalne****/

.dropbtn{
  background: #8b88bb;
  color: black;
  font-size: 14px;
  border: none;
  font-family: Arial Narrow;
  cursor: pointer;
}

.dropdown{
  position: relative;
  display: inline-block;  
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #8b88bb;
  width: 80px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 18px 5px 0;
  text-decoration: none;
  display: block;
  font-family: Arial Narrow;
  font-size: 14px;
}

.dropdown-content .about{
  padding: 10px 20px 5px 0;
}

.dropdown-content .signup{
  padding: 10px 5px 5px 0;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color:white;
}

/*****Lewy pasek Github i LinkedIn****/
#sidebar{
  padding-top: 30px;
  width: 13%;
  padding-right: 10px;;
  position: absolute;
}

#sidebar .git{
  width: 80px;
}

#sidebar .linkedin{
  width: 60px;
}

/****Podstrony otwierane Ajaxem*****/
#main{ 
  float:right;
  width:80%;
  height: 498px;
  position: relative;
  color: #a9a8a8;
}
 
#main h1, #sidebar{
  text-align: center; 
}

#main .article{
  font-size:18px;
  width: 100%;
  padding-top: 100px;
  text-align: left;
}

.image{
  position: absolute; 
  width: 69%;
}

/******Poznane technologie*****/
.technologies{
  clear:both;
  margin: 0 auto;
  text-align: center;
  opacity: 0.7;
  background: rgb(203, 218, 225);
  padding-bottom: 2px;
}

.technologies .php, .jquery{
  width: 150px;
}

.technologies .sql{
  width: 120px;
  padding-right: 30px;
}

.technologies .ajax{
  width: 150px;
  padding-left: 20px;
}

.technologies .html, .css{
  width: 100px;
}

.technologies h2{
  background: #c1c1c1;
}

/********Stopka*******/
footer{  
  background: #a29f9f;
  font-family: "Lucida Sans Unicode";
  color: #444444;
  font-size: 13px;
  text-align: right;
  padding: 8px 10px 8px 0px;
 
}


/***********************About**********************/

.about img{
  width: 170px;
  padding: 10px 0 10px 0;
  float: left;
  opacity: 0.7;
}

.about .info{
  float:right;
  padding: 10px 175px 0 0;
  color: black;
}

.about .description{
  clear:both;
  color: black;
}

ul li{
  list-style-type: none;
  font-size: 18px;
  line-height: 150%;
}

/******************************Contact*********************/

#contact{
  width: 337px;
}

#contact input{
  width: 337px;
  height: 20px;
  border-radius: 5px;
}

#contact .message {
  width: 337px;
  border-radius: 5px;
}

#contact .btn-submit{
  display: block;
  height: 25px;
  width: 70px;
  margin: 0 auto;
  border-radius: 5px;
}

/*****************************Signup*************************/

#signup{
  width: 337px;
}

#signup input{
  width: 337px;
  height: 20px;
  border-radius: 5px;
}

#signup button{
  display: block;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
}

